# First, ignore everything
*
# Now, whitelist anything that's a directory
!lisp/
!site-lisp/
!snippet/
# And all the file types you're interested in.
!*.el
!README.org
!.gitignore
!LICENSE
!banner.png
# And again XD
custom.el
.mc-lists.el
